 
body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1b0d29+0,2e2251+73 */
background: #1b0d29; /* Old browsers */
background: -moz-linear-gradient(left,  #1b0d29 13%, #2e2251 70%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1b0d29 13%,#2e2251 70%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1b0d29 13%,#2e2251 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b0d29', endColorstr='#2e2251',GradientType=1 ); /* IE6-9 */
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li
{
    display: inline-block;
}

.active
{
    border: 1px solid #D7D1D1;
    border-radius: 35px;
    margin-right: 130px;
    color: #D7D1D1;
    padding: 8px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 50px;
}

.main-nav li a
{
    color: #D7D1D1;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 50px;
}

.zubia
{
    float: left;
    list-style: none;
    margin-top: 49px;
    margin-left: 40px;
}

.zubia li
{
    display: inline-block;
}

.zubia li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: bold;
}

.icon img
{
    height: 24px;
    width: 24px;
    margin-top: 140px;
    margin-right: 100px;
    margin-left: -103px;
}

.caption
{
    float: left;
    list-style: none;
    margin-top: -24px;
    margin-left: 60px;
}

.caption li
{
    display: inline-block;
}

.caption li a
{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.caption2
{
    float: left;
    list-style: none;
    margin-top: 50px;
}

.caption2 li
{
    display: inline-block;
}

.caption2 li a
{
    color: white;
    text-decoration: none;
    padding: 120px;
    font-family: "Roboto", sans-serif;
    font-size: 61px;
    font-weight: normal;
    margin-left: -68px;
    font-weight: 150;
}

.ilustrasi img
{
    height: 512px;
    width: 667px;
    margin-left: 770px;
    margin-top: -290px;
}

.caption3
{
    float: left;
    list-style: none;
    margin-top: -206px;
}

.caption3 li
{
    display: inline-block;
}

.caption3 li a
{
    color: white;
    text-decoration: none;
    padding: 298px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 150;
    margin-left: -245px;
    font-weight: 450;
}

.button
{
    margin-top: -97px;
    margin-left: 93px;
}

.tombol
{
    border: 1px solid #F53B12;
    background-color: #F53B12;
    text-decoration: none;
    border-radius: 35px;
    color: white;
    padding: 8px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: normal;
}